/* body {
    background-color: rgb(238, 156, 211);
} */

.titlecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.headerimage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbarsection {
    display: flex;
    justify-content:center;
    gap: 20px;
    border: 1px inset rgb(139, 42, 99);
    margin: 10px; 
    padding: 20px;
}
#button2 {
    background-color: rgb(230, 81, 114);
    margin: 7px;
    width: 80px;
    border-radius: 5px;
}
#button2:hover {
    background-color:rgb(163, 68, 116);
}
#button3 {
    background-color: rgb(171, 153, 250);
}

.maincontentcontainer {
    padding: 20px;
    margin: 20px;
    /* gap: 30px; */
}
/* .maincontent {
    
} */
.aside {
    display: flex;
    /* justify-content: center; */
}
.articlecontainer {
    display: flex;
    background-color: rgb(117, 34, 82);
}
.footer {
    display: flex;
    justify-content: center;
    gap: 70px;
    border: 1px inset rgb(139, 42, 99);
    padding: 10px;
    margin: 20px;
}