body {
    border: 3px inset rgb(139, 42, 99);
    margin: 50px; 
    padding: 10px;
    width: 450px;
    align-self: center;
    /* background-color: rgb(222, 248, 228); */
    
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}
.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main {
    display: flex;
    flex-direction: column;
    color:rgb(170, 46, 108);
}
.buttoncontainer {
    align-self: center;
}
#signinbutton {
    background-color:rgb(170, 46, 108);
}
#signinbutton:hover {
    background-color: rgb(155, 104, 134);
}
.forgotpassword {
    align-self: center;
}